/* Yep, it looks like a name tag.  Give your pattern matcher a cookie. */

body {
  background-color: #eeeeee;
  font-family: verdana, arial, helvetica, sans-serif;
  color: #000000;

  align: center;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.post {
  padding: 10px 5px 5px 10px;
  background: #ffffff;
}

.post h2 {
  font-size: 1em;
}

.header {
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 1px 5px 5px 5px;
  background: #80d0f0;
}

.header a {
  text-decoration: none;
}

.date {
  text-align: right;
  background: #dddddd;
  padding: 2px 2px 2px 2px;
  font-size: 90%;
}

.related {
  text-align: left;
  background: #bbaaee;
  padding: 10px;
  font-size: 90%;
}

.footer {
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 5px 5px 5px 5px;
  background: #80d0f0;
  text-align: center;
}

img {
  padding: 1px;
  border: 1px solid #021a40;
}
